# Configuração da Base de Dados
# Para SQLite (Default): sqlite:///./davi_finance.db
# Para PostgreSQL: postgresql://user:password@host/dbname
DATABASE_URL="sqlite:///./davi_finance.db"

# Segurança (JWT)
# Gera uma chave forte e coloca aqui (ex: openssl rand -hex 32)
SECRET_KEY="SUA_CHAVE_SECRETA_SUPER_Forte_AQUI"

# Segurança (CORS)
# URL do frontend. Separar por vírgulas se houver mais que um.
# Ex: https://oteunome.github.io
ALLOWED_ORIGINS="*"
